@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg-base: #fff;

  --c-blue-100: #f0f7ff;
  --c-blue-200: #ecf5ff;
  --c-blue-300: #e0efff;
  --c-blue-400: #bfdcff;
  --c-blue-500: #3ea8ff;
  --c-blue-600: #0f83fd;
  --c-blue-700: #0868ce;
  --c-gray-100: #f5f9fc;
  --c-gray-200: #f1f5f9;
  --c-gray-300: #edf2f7;
  --c-gray-400: #e4edf4;
  --c-gray-500: #d6e3ed;
  --c-gray-600: #acbcc7;
  --c-gray-700: #8f9faa;
  --c-gray-800: #65717b;

  --c-button-primary: var(--c-blue-500);
  --c-button-primary-hover: var(--c-blue-600);

  --c-neutral-border: var(--c-gray-500);
  --c-neutral-border-lighter: var(--c-gray-400);

  --c-text-body: #000000d1;
  --c-text-low-priority: var(--c-gray-800);
  --c-text-link-primary: var(--c-blue-600);

  --header-height: 62px;

  --rounded-xxs: 2px;
  --rounded-xs: 4px;
  --rounded-sm: 7px;
  --rounded-md: 10px;
  --rounded-lg: 14px;
  --rounded-xl: 20px;
  --rounded-full: 99rem;
  --rounded-publication: 25%;
}

html {
  font-size: 16px;
  line-height: normal;
}
